/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #282c34;
    color: #61dafb;
    font-family: 'Arial', sans-serif;
}

.clock {
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.box
{
    border-radius: 2px;
    border: 2px whitesmoke solid;
    padding: 15px;
}